<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="/static/script.js"></script>
        <link rel="stylesheet" href="/static/style.css">
        <meta http-equiv="X-UA-Compatible" content="Chrome">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Goorm Ticketing join </title>

        {%with messages = get_flashed_messages()%}
        {%if messages %}
          <script type="text/javascript">
            alert("{{messages[0]}}");
          </script>
          {%endif%}
        {%endwith%}


    </head>

    <body>
        <header>
            <h1>
                <img src="/static/img/logo.png" id="logo">
                <a id="title">구름 티켓팅</a>
                <h2>로그인 페이지</h2>
            </h1>
            <hr>
            <form method="POST" action="/loginPage">
                <div id="join_div">
                    <p><input type="text" id="login_ID" name="login_ID" placeholder="아이디"></p>
                    <p><input type="password" id="login_password" name="login_password" placeholder="비밀번호"></p>
                    <input type="submit" id="login" name="button" value="로그인">
                    <input type="button" id="join" name="button" value="회원가입" onclick="showJoinPage();">
                </div>
            </form>


            <hr>
            <div id="date_div">
                <button type="button" onclick="showDate()" class="date">현재 시간</button>
                <p id="date"></p>
            </div>

            <div>
                <input type="button" class="night_day" value="night mode" onclick="
                nightDayHandler(this);
                ">
            </div>



        </header>

    </body>
</html>


